# Maisaa

## introduction

**data science languages:**

    1. scala
    2. java
    3. julia

# data science libraries:
- numby 
- panda

| data science | tools |
| -------------| ------ |
| data science | jubeternotbook  |
| data science | jubeterlite |

 arithmetic expression examples
 
    []: 1+1
    
    []: 3

In [4]:
1+4*3

13

In [ ]:
#120 min is 2 houers

In [5]:
120/60

2.0

#### objectives 

1- objectives 1

2- objectives 2

3- objectives 3

#### Auther name : Maisaa